<h4> Show Device information </h4>
 <div class="centered"> 
<div class="card" style="width: 18rem;">
 <div  class="card-title" >
   <h5> Name</h5> <%= @equipment.name %>
    </div>
    <div class="card-text">
     <h5>Time Of Use</h5><%= @equipment.time_of_use %>
    </div>
    <div class="card-text">
    <h5> Description</h5><%= @equipment.description %>
    </div>
    <div class="card-text">
     <h5>Phone</h5><%= @equipment.phone %>
    </div>
</div>
</div>