// Place all the styles related to the equipments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
    background: #ffffff;
}
a {
    color: white;
}
a:hover{
    color: red;
}
h1 {
    color: white;
}